@import "../../styles/index.css";

.ProjectHero {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.ProjectHero.right {
    flex-direction: row-reverse;
}

.ProjectHero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 52%;
    padding: 0 3%;
}



.ProjectHero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3%;

    white-space: pre-line;
}

.ProjectHero__logo {
    width: 8%;
    height: auto;
    margin-bottom: 10px;

    opacity: 0.8;
}

.ProjectHero__skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 3%;

    align-self: flex-end;
}

.ProjectHero__skills > * {
    margin: 0 10px;
}

.ProjectHero__skills h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
    white-space: nowrap;
}

.ProjectHero__skills img {
    width: 50px;
    height: 50px;
}


.ProjectHero__image {
    flex: 1;
    opacity: 1;

    width: 48%;

    object-fit: cover;
    object-position: center;
}

.ProjectHero.color-2 {
    background-color: var(--main-color-2-transparent);
}

.ProjectHero.color-3 h3 {
    color: var(--main-color-2);
}

.ProjectHero.color-3 {
    background-color: var(--main-color-3-transparent);
}

.ProjectHero.color-2 h3 {
    color: var(--main-color-3);
}