@import url("./index.css");


.App {
    background-color: var(--main-bg-color-light);
    transition: var(--dark-mode-transition);

    height: 100vh;
}

.App.dark {
    background-color: var(--main-bg-color-dark);
    color: var(--main-bg-color-light);
}