:root {
    --main-bg-color-dark: #383838;
    --main-bg-color-light: #ececec;

    --main-color-dark-2: #5B5B5B;
    --main-color-light-2: #dedede;

    --main-color-2: #81cb4f;
    --main-color-2-transparent: #81cb4f15;
    --main-color-3: #0A84FF;
    --main-color-3-transparent: #0A84FF15;

    --sidebar-width: 200px;

    --dark-mode-transition: background-color 0.25s ease-in-out, fill 0.25s ease-in-out, color 0.25s ease-in-out;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
}