:root {
    --main-bg-color-dark: #383838;
    --main-bg-color-light: #ececec;

    --main-color-dark-2: #5B5B5B;
    --main-color-light-2: #d9d9d9;

    --main-color-2: #51a11d;
    --main-color-2-transparent: rgba(81, 161, 29, 0.15);
    --main-color-3: #0A84FF;
    --main-color-3-transparent: #0A84FF15;

    --sidebar-width: 200px;
    --main-padding: 100px;

    --dark-mode-transition: background-color 0.25s ease-in-out, fill 0.25s ease-in-out, color 0.25s ease-in-out, transform 0.25s ease-in-out;

    font-size: 16px;
}

@media (max-width: 768px) {
    :root {
        --main-padding: 30px;
        --sidebar-width: 50px;

        font-size: 12px;
    }
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;

    overflow-x: hidden;
}

::selection {
    background-color: rgba(255, 10, 235, 0.16);
}
