.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Contact > h1 {
    font-size: 3rem;
}

.Contact > h3 {
    margin-bottom: 30px;
}

.Contact a {
    color: var(--main-color-2);
    font-weight: 600;
}