@import "../../styles/index.css";


.Introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 50px var(--main-padding);
}

.Introduction .content {
    display: flex;
    flex-direction: column;
}

.Introduction img {
    height: auto;

    width: 30%;
}

.Introduction h1 {
    margin-bottom: 50px;

    font-size: 4rem;
}

.Introduction .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 30px;
}

.Introduction .navigation > * {
    margin: 0px 10px;
}

.Introduction .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 50px 150px;
}