@import "../../styles/index.css";

.MainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;


    margin-right: var(--sidebar-width);
    padding: 50px 100px;
}

.MainContent > * {
    margin-bottom: 150px;
    width: 100%;
}