.LanguageSelector {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.LanguageSelector img {
    width: 50px;
    height: auto;
    border-radius: 10%;
    cursor: pointer;

    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

.LanguageSelector img:hover {
    opacity: 1;
}

.LanguageSelector img.active {
    opacity: 1;
}